[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=tablet_tester
X-Python-2-Compatible=false
X-Krita-Manual=tablet_tester_manual.html
Name=tablet_tester
Comment=Exposes Tablet Event Values
